@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heebo: 'Heebo', sans-serif;
  --font-assistant: 'Assistant', sans-serif;
}

body {
  font-family: var(--font-assistant);
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-heebo);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}


